<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html"}}

  <body>
    <!-- ======= Header ======= -->
    {{ partial "header.html"}}
    <!-- End Header -->

    <section id="hero-animated" class="hero-animated d-flex align-items-center">
      <div
        class="container d-flex flex-column justify-content-center align-items-center text-center position-relative"
        data-aos="zoom-out"
      >
        <img src="/assets/img/hero-img.jpg" class="img-fluid animated" />
        <h2>Dogs Bite | <span>Some dog doesn't let go</span></h2>
        <p>
          In the 16-year period of 2005 through 2020, canines killed 568
          Americans. Pit bulls contributed to 67% (380) of these deaths.
          Combined, pit bulls and rottweilers contributed to 76% of the total
          recorded deaths.
        </p>
        <div class="d-flex">
          <a href="#about" class="btn-get-started scrollto">Get Started</a>
          <a
            href="https://www.youtube.com/watch?v=lFDLY_Tl6wQ"
            class="glightbox btn-watch-video d-flex align-items-center"
            ><i class="bi bi-play-circle"></i><span>Watch Video</span></a
          >
        </div>
      </div>
    </section>

    <main id="main">
      <!-- ======= Featured Services Section ======= -->
      <section id="featured-services" class="featured-services">
        <div class="container">
          <div class="row gy-4">
            <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out">
              <div class="service-item position-relative">
                <div class="icon"><i class="bi bi-activity icon"></i></div>
                <h4>
                  <a class="stretched-link"
                    >Pit bulls make up about 6.2% of the total U.S. dog
                    population.</a
                  >
                </h4>
                <p>
                  46 U.S. dog bite-related fatalities occurred in 2020. Despite
                  being regulated in Military Housing areas and over 900 U.S.
                  cities, pit bulls contributed to 72% (33) of these deaths.
                </p>
              </div>
            </div>
            <!-- End Service Item -->

            <div
              class="col-xl-3 col-md-6 d-flex"
              data-aos="zoom-out"
              data-aos-delay="200"
            >
              <div class="service-item position-relative">
                <div class="icon">
                  <i class="bi bi-bounding-box-circles icon"></i>
                </div>
                <h4>
                  <a class="stretched-link">Canines killed 568 Americans</a>
                </h4>
                <p>
                  During the 16-year period of 2005 to 2020, canines killed 568
                  Americans. Two dog breeds, pit bulls (380) and rottweilers
                  (51), contributed to 76% (431) of these deaths. 37 different
                  dog breeds were involved in the remaining fatal dog maulings.
                </p>
              </div>
            </div>
            <!-- End Service Item -->

            <div
              class="col-xl-3 col-md-6 d-flex"
              data-aos="zoom-out"
              data-aos-delay="400"
            >
              <div class="service-item position-relative">
                <div class="icon">
                  <i class="bi bi-calendar4-week icon"></i>
                </div>
                <h4>
                  <a class="stretched-link">All dog bite-related deaths</a>
                </h4>
                <p>
                  In 2020, the combination of pit bulls (33), additional bull
                  breeds (4) and mastiff-type guard dogs and war dogs (3) -- the
                  types used to create "baiting" bull breeds and fighting breeds
                  -- accounted for 87% (40) of all dog bite-related deaths.
                </p>
              </div>
            </div>
            <!-- End Service Item -->

            <div
              class="col-xl-3 col-md-6 d-flex"
              data-aos="zoom-out"
              data-aos-delay="600"
            >
              <div class="service-item position-relative">
                <div class="icon"><i class="bi bi-broadcast icon"></i></div>
                <h4>
                  <a class="stretched-link"
                    >Only 3 deaths did not involve bull breed</a
                  >
                </h4>
                <p>
                  Breed data was fully or partially unreleased in 6 deaths.
                  American bulldogs, German shepherds, mastiffs and mixed-breeds
                  followed, each involved in 2 deaths. When breed was known,
                  only 3 deaths did not involve bull breed or mastiff-type dogs.
                </p>
              </div>
            </div>
            <!-- End Service Item -->
          </div>
        </div>
      </section>
      <!-- End Featured Services Section -->

      <!-- ======= About Section ======= -->
      <section id="characteristics" class="about">
        <div class="container" data-aos="fade-up">
          <div class="section-header">
            <h2>Characteristics</h2>
            <p>
              A retrospective review of 1616 dog bite victims over a 4-year
              period from a pediatric Level 1 trauma center in the Southeast.
              Pit bull bites were implicated in half of all surgeries performed.
            </p>
          </div>

          <div class="row g-4 g-lg-5" data-aos="fade-up" data-aos-delay="200">
            <div class="col-lg-5">
              <div class="about-img">
                <img src="assets/img/dog-side.jpg" class="img-fluid" alt="" />
              </div>
            </div>

            <div class="col-lg-7">
              <h3 class="pt-0 pt-lg-5">
                Dog Bite Statistics: By Breed, Fatal Dog Bites, and States With
                The Highest Fatality Rate
              </h3>

              <!-- Tabs -->
              <ul class="nav nav-pills mb-3">
                <li>
                  <a class="nav-link active" data-bs-toggle="pill" href="#tab1"
                    >Breed</a
                  >
                </li>
                <li>
                  <a class="nav-link" data-bs-toggle="pill" href="#tab2"
                    >Fatal</a
                  >
                </li>
                <li>
                  <a class="nav-link" data-bs-toggle="pill" href="#tab3"
                    >States</a
                  >
                </li>
              </ul>
              <!-- End Tabs -->

              <!-- Tab Content -->
              <div class="tab-content">
                <div class="tab-pane fade show active" id="tab1">
                  <p class="fst-italic">
                    Pitbulls are responsible for the vast majority of fatalities
                    associated with dogs. From 2010 to June 2021, there were 430
                    fatal dog bites, with 185 of those coming from pit bulls,
                    and another 41 that were pit bull mixes.
                  </p>

                  <div class="d-flex align-items-center mt-4">
                    <i class="bi bi-check2"></i>
                    <h4>
                      60% had pit bull in their bloodlines (either full-blooded
                      or a mix)
                    </h4>
                  </div>
                  <div class="d-flex align-items-center mt-4">
                    <i class="bi bi-check2"></i>
                    <h4>7% had Rottweiler in their bloodline</h4>
                  </div>

                  <div class="d-flex align-items-center mt-4">
                    <i class="bi bi-check2"></i>
                    <h4>4% had German shepherd in their bloodline</h4>
                  </div>
                </div>
                <!-- End Tab 1 Content -->

                <div class="tab-pane fade show" id="tab2">
                  <p class="fst-italic">
                    Top Three Breeds Responsible for Fatal Dog Attacks
                  </p>

                  <div class="d-flex align-items-center mt-4">
                    <i class="bi bi-check2"></i>
                    <h4>Pitbull – 185 deaths</h4>
                  </div>
                  <div class="d-flex align-items-center mt-4">
                    <i class="bi bi-check2"></i>
                    <h4>Pitbull Mix – 41 deaths</h4>
                  </div>
                  <div class="d-flex align-items-center mt-4">
                    <i class="bi bi-check2"></i>
                    <h4>Rotweiller – 26 deaths</h4>
                  </div>
                </div>
                <!-- End Tab 2 Content -->

                <div class="tab-pane fade show" id="tab3">
                  <p class="fst-italic">The Top 5 States For Fatal Dog Bites</p>

                  <div class="d-flex align-items-center mt-4">
                    <i class="bi bi-check2"></i>
                    <h4>California = 48</h4>
                  </div>
                  <div class="d-flex align-items-center mt-4">
                    <i class="bi bi-check2"></i>
                    <h4>Texas = 47</h4>
                  </div>
                  <div class="d-flex align-items-center mt-4">
                    <i class="bi bi-check2"></i>
                    <h4>Florida = 31</h4>
                  </div>
                  <div class="d-flex align-items-center mt-4">
                    <i class="bi bi-check2"></i>
                    <h4>North Carolina = 22</h4>
                  </div>
                  <div class="d-flex align-items-center mt-4">
                    <i class="bi bi-check2"></i>
                    <h4>Ohio = 21</h4>
                  </div>
                </div>
                <!-- End Tab 3 Content -->
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End About Section -->

      <!-- ======= Call To Action Section ======= -->
      <section id="cta" class="cta">
        <div class="container" data-aos="zoom-out">
          <div class="row g-5">
            <div
              class="col-lg-8 col-md-6 content d-flex flex-column justify-content-center order-last order-md-first"
            >
              <h3>Pit bulls are disliked by <em>most</em> Americans</h3>
              <p>
                Americans believe that pit bulls are at least somewhat dangerous
                and that a family with small children should not harbor a pit
                bull.
              </p>
              <a class="cta-btn align-self-start" href="/#characteristics"
                >Statics</a
              >
            </div>

            <div
              class="col-lg-4 col-md-6 order-first order-md-last d-flex align-items-center"
            >
              <div class="img">
                <img src="assets/img/jump.jpg" alt="" class="img-fluid" />
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Call To Action Section -->

      <!-- ======= On Focus Section ======= -->
      <section id="bites" class="onfocus">
        <div class="container-fluid p-0" data-aos="fade-up">
          <div class="row g-0">
            <div class="col-lg-6 video-play position-relative">
              <a
                href="https://www.youtube.com/watch?v=BJANv94EK04"
                class="glightbox play-btn"
              ></a>
            </div>
            <div class="col-lg-6">
              <div
                class="content d-flex flex-column justify-content-center h-100"
              >
                <h3>
                  Pit bull bites are more deadly than those of other breeds
                </h3>
                <p class="fst-italic">
                  From 2011 to 2019, 14 peer-reviewed retrospective medical
                  studies from Level 1 trauma centers spanning all major
                  geographical regions in the United States -- Northeast,
                  Southeast, South, Southwest, Midwest, West Coast, and
                  Northwest -- all report similar findings: pit bulls are
                  inflicting a higher prevalence of injuries than all other
                  breeds of dogs. The majority of these studies (12 of 14) also
                  report that pit bulls are inflicting the most severe injuries,
                  requiring a higher number of operative interventions -- up to
                  five times higher -- than other dog breeds. Four studies from
                  this period -- all from Level 1 trauma centers in the Denver
                  metro area -- show a mixture of results, possibly due to
                  Denver and the surrounding metropolitan regions enforcing pit
                  bull bans for the last 3 decades.
                </p>
                <a
                  target="_blank"
                  href="https://www.dogsbite.org/dog-bite-statistics-studies-level-1-trauma-table-2011-present.php"
                  class="read-more align-self-start"
                  ><span>Read More</span><i class="bi bi-arrow-right"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End On Focus Section -->

      <!-- ======= Services Section ======= -->
      <section id="train" class="services">
        <div class="container" data-aos="fade-up">
          <div class="section-header">
            <h2>How to train an aggressive Pitbull (6 tips)</h2>
          </div>

          <div class="row gy-5">
            <div
              class="col-xl-4 col-md-6"
              data-aos="zoom-in"
              data-aos-delay="200"
            >
              <div class="service-item">
                <div class="img">
                  <img
                    src="/assets/img/services-1.jpg"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <div class="details position-relative">
                  <div class="icon">
                    <i class="bi bi-activity"></i>
                  </div>
                  <a
                    href="https://cleverpetowners.com/why-are-pitbulls-so-sweet/"
                    class="stretched-link"
                    target="_blank"
                  >
                    <h3>Nature vs. Nurture</h3>
                  </a>
                  <p>
                    You’ve undoubtedly heard this phrase regarding raising
                    children. Well, raising dogs is no different!
                  </p>
                  <p>
                    While pitbulls have an aggressive genetic history, being
                    diligent in raising your pitbull to be less aggressive can
                    go a long way to help. Pitbulls can be sweet too!
                  </p>
                </div>
              </div>
            </div>
            <!-- End Service Item -->

            <div
              class="col-xl-4 col-md-6"
              data-aos="zoom-in"
              data-aos-delay="300"
            >
              <div class="service-item">
                <div class="img">
                  <img
                    src="assets/img/services-2.jpg"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <div class="details position-relative">
                  <div class="icon">
                    <i class="bi bi-broadcast"></i>
                  </div>
                  <a
                    href="https://cleverpetowners.com/how-to-introduce-a-reactive-dog-to-a-new-person/"
                    class="stretched-link"
                    target="_blank"
                  >
                    <h3>Early learning habits</h3>
                  </a>
                  <p>
                    Being able to raise your pitbull as young as possible is
                    critical.
                  </p>
                  <p>
                    The sooner you teach your pitbull how to behave around other
                    people and dogs, the easier it will be to acclimate.
                  </p>
                </div>
              </div>
            </div>
            <!-- End Service Item -->

            <div
              class="col-xl-4 col-md-6"
              data-aos="zoom-in"
              data-aos-delay="400"
            >
              <div class="service-item">
                <div class="img">
                  <img
                    src="/assets/img/services-3.jpg"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <div class="details position-relative">
                  <div class="icon">
                    <i class="bi bi-easel"></i>
                  </div>
                  <a class="stretched-link">
                    <h3>Practice makes perfect</h3>
                  </a>
                  <p>
                    We talked about teaching your pitbulls young. Another
                    critical factor is having them around other dogs and people
                    consistently when they are puppies.
                  </p>
                  <p>
                    Normalizing the different behaviors of other dogs and people
                    at a young age can enhance your pitbull’s tolerance.
                  </p>
                </div>
              </div>
            </div>
            <!-- End Service Item -->

            <div
              class="col-xl-4 col-md-6"
              data-aos="zoom-in"
              data-aos-delay="500"
            >
              <div class="service-item">
                <div class="img">
                  <img
                    src="/assets/img/services-4.jpg"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <div class="details position-relative">
                  <div class="icon">
                    <i class="bi bi-bounding-box-circles"></i>
                  </div>
                  <a class="stretched-link">
                    <h3>Get proper personal training</h3>
                  </a>
                  <p>
                    Having your pitbull receive training from a professional
                    trainer can be positive. However, don’t forget to train your
                    pitbull yourself regularly.
                  </p>
                  <p>
                    Learning to obey specific commands, such as “come,” can
                    ensure they don’t get into uncertain environments that might
                    lead to aggressive behavior.
                  </p>
                </div>
              </div>
            </div>
            <!-- End Service Item -->

            <div
              class="col-xl-4 col-md-6"
              data-aos="zoom-in"
              data-aos-delay="600"
            >
              <div class="service-item">
                <div class="img">
                  <img
                    src="/assets/img/services-5.jpg"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <div class="details position-relative">
                  <div class="icon">
                    <i class="bi bi-calendar4-week"></i>
                  </div>
                  <a
                    href="https://cleverpetowners.com/at-what-age-does-a-boerboel-become-aggressive/"
                    class="stretched-link"
                    target="_blank"
                  >
                    <h3>Knowing your Pitbulls triggers</h3>
                  </a>
                  <p>
                    When raising pitbulls, or any other fierce dogs, it is vital
                    to have a good idea of their bad triggers.
                  </p>
                  <p>
                    If your pit bull is very territorial over his food bowl,
                    don’t put your pitbull in the same room with another dog
                    while eating.
                  </p>
                </div>
              </div>
            </div>
            <!-- End Service Item -->

            <div
              class="col-xl-4 col-md-6"
              data-aos="zoom-in"
              data-aos-delay="700"
            >
              <div class="service-item">
                <div class="img">
                  <img
                    src="/assets/img/services-6.jpg"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <div class="details position-relative">
                  <div class="icon">
                    <i class="bi bi-chat-square-text"></i>
                  </div>
                  <a class="stretched-link">
                    <h3>Prior knowledge of your Pitbull needs</h3>
                  </a>
                  <p>
                    Before adopting or raising a pitbull, you must understand
                    what kind of dog you bring into your home.
                  </p>
                  <p>
                    For instance, pitbulls are highly energetic dogs; they need
                    daily exercise. Without this daily routine, pitbulls (or any
                    other active dog) can be prone to unruly behavior.
                  </p>
                </div>
              </div>
            </div>
            <!-- End Service Item -->
          </div>
        </div>
      </section>
      <!-- End Services Section -->

      <!-- ======= Contact Section ======= -->
      <section id="contact" class="contact">
        <div class="container">
          <div class="section-header">
            <h2>Contact Us</h2>
            <p>
              Ea vitae aspernatur deserunt voluptatem impedit deserunt magnam
              occaecati dssumenda quas ut ad dolores adipisci aliquam.
            </p>
          </div>
        </div>

        <div class="map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
            frameborder="0"
            allowfullscreen
          ></iframe>
        </div>
        <!-- End Google Maps -->

        <div class="container">
          <div class="row gy-5 gx-lg-5">
            <div class="col-lg-4">
              <div class="info">
                <h3>Get in touch</h3>
                <p>
                  Et id eius voluptates atque nihil voluptatem enim in tempore
                  minima sit ad mollitia commodi minus.
                </p>

                <div class="info-item d-flex">
                  <i class="bi bi-geo-alt flex-shrink-0"></i>
                  <div>
                    <h4>Location:</h4>
                    <p>A108 Adam Street, New York, NY 535022</p>
                  </div>
                </div>
                <!-- End Info Item -->

                <div class="info-item d-flex">
                  <i class="bi bi-envelope flex-shrink-0"></i>
                  <div>
                    <h4>Email:</h4>
                    <p>info@example.com</p>
                  </div>
                </div>
                <!-- End Info Item -->

                <div class="info-item d-flex">
                  <i class="bi bi-phone flex-shrink-0"></i>
                  <div>
                    <h4>Call:</h4>
                    <p>+1 5589 55488 55</p>
                  </div>
                </div>
                <!-- End Info Item -->
              </div>
            </div>

            <div class="col-lg-8">
              <form
                action="forms/contact.php"
                method="post"
                role="form"
                class="php-email-form"
              >
                <div class="row">
                  <div class="col-md-6 form-group">
                    <input
                      type="text"
                      name="name"
                      class="form-control"
                      id="name"
                      placeholder="Your Name"
                      required
                    />
                  </div>
                  <div class="col-md-6 form-group mt-3 mt-md-0">
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      id="email"
                      placeholder="Your Email"
                      required
                    />
                  </div>
                </div>
                <div class="form-group mt-3">
                  <input
                    type="text"
                    class="form-control"
                    name="subject"
                    id="subject"
                    placeholder="Subject"
                    required
                  />
                </div>
                <div class="form-group mt-3">
                  <textarea
                    class="form-control"
                    name="message"
                    placeholder="Message"
                    required
                  ></textarea>
                </div>
                <div class="my-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">
                    Your message has been sent. Thank you!
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit">Send Message</button>
                </div>
              </form>
            </div>
            <!-- End Contact Form -->
          </div>
        </div>
      </section>
      <!-- End Contact Section -->
    </main>
    <!-- End #main -->

    {{partial "footer.html"}}
  </body>
</html>
